APP_NAME=api_web_profile
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001
APP_TIMEZONE=UTC
WEB_CMS_URL=https://opsadmin.kretech.my.id/
WEB_COMPANY_URL=http://localhost/web_comp_v2
WEB_PROFILE_URL=https://profile.kretech.my.id/

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=api_web_v1
DB_USERNAME=root
DB_PASSWORD=

DB_CONNECTION_2=mysql
DB_HOST_2=127.0.0.1
DB_PORT_2=3306
DB_DATABASE_2=kretech_admin
DB_USERNAME_2=root
DB_PASSWORD_2=

# MAIL_DRIVER=smtp
# MAIL_MAILER=smtp
# MAIL_HOST=smtp-relay.brevo.com
# MAIL_PORT=587
# MAIL_USERNAME=752245001@smtp-brevo.com
# MAIL_PASSWORD=49NIEKJfmLsC8c0x
# MAIL_ENCRYPTION=tls
# MAIL_FROM_ADDRESS="${MAIL_USERNAME}"
# MAIL_FROM_NAME="${APP_NAME}"

BREVO_API_KEY=

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
